<script src="/assets/js/main.min.js"></script>

<!-- // to top button -->
<a href="#" class="scrollup">Наверх</a>

<script type="text/javascript">
  $(document).ready(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 300) {
        $(".scrollup").fadeIn();
      } else {
        $(".scrollup").fadeOut();
      }
    });

    $(".scrollup").click(function () {
      $("html, body").animate({ scrollTop: 0 }, 600);
      return false;
    });
  });
</script>

<script type="text/javascript">
$(document).ready(function() {
  $('input').change(function() {
  $('div.hideble').hide();
    if ($('input[value="365').is(':checked')) {
      $('div.365').show();
    }
    else if ($('input[value="367').is(':checked')) {
      $('div.367').show();
    }
    else if ($('input[value="370').is(':checked')) {
      $('div.370').show();
    }
    else {
      $('div.hideble').hide();
    }
  });
});</script>

<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>