<table>
	<colgroup>
		<col style="width: 40%;" span="1" />
		<col style="width: 200px;" span="1" />
		<col style="width: 200px;" span="1" />
		<col style="width: 200px;" span="1" />
		<col style="width: 200px;" span="1" />
	</colgroup>
  <tbody>
    <tr>
      <th scope="col">&nbsp;</th>
      <th scope="col">Нет<br>карты памяти</th>
      <th scope="col"><span style="text-align: center"><img src="{{ base_path }}/images/consoles/sd2vita_1.png" alt="SD2Vita" style="padding: 0.5em;"></span></th>
      <th scope="col"><p><span style="text-align: center"><img src="{{ base_path }}/images/consoles/psvita_card.png" alt="Sony PSVita card" style="padding: 0.5em;"></span></p></th>
    </tr>
    <tr>
      <th scope="row"><p><span style="text-align: center"><img src="{{ base_path }}/images/consoles/vita_fat.png" alt="PS Vita FAT" style="padding: 0.5em;"></span></p></th>
      <td align="center"><em>Невозможно<br>прошить</em></td>
      <td align="center"><a href="running-mltkaku">HENkaku Ensō<br>
      <strong>3.60</strong></a></td>
      <td align="center"><a href="running-henkaku">HENkaku Ensō<br>
      <strong>3.65</strong></a></td>
    </tr>
    <tr>
      <th scope="row"><span style="text-align: center"><img src="{{ base_path }}/images/consoles/vita_slim.png" alt="PS Vita Slim" style="padding: 0.5em;"></span></th>
      <td align="center"><a href="running-henkaku">HENkaku Ensō<br>
      <strong>3.65</strong></a></td>
      <td align="center"><a href="running-henkaku">HENkaku Ensō<br>
      <strong>3.65</strong></a></td>
      <td align="center"><a href="running-henkaku">HENkaku Ensō<br>
      <strong>3.65</strong></a></td>
    </tr>
    <tr>
      <th scope="row"><span style="text-align: center"><img src="{{ base_path }}/images/consoles/pstv.png" alt="Playstation TV" style="padding: 0.5em;"></span></th>
      <td align="center"><a href="running-henkaku">HENkaku Ensō<br>
      <strong>3.65</strong></a></td>
      <td align="center"><a href="running-henkaku">HENkaku Ensō<br>
      <strong>3.65</strong></a></td>
      <td align="center"><a href="running-henkaku">HENkaku Ensō<br>
      <strong>3.65</strong></a></td>
    </tr>
  </tbody>
</table>
